
.productContainer{
    font-size: 13px;
    color: #111111;
}

.product{
    margin : 15px 0px;
    height : 520px;
}

.img{
    display: block;
    position: relative;
    max-height: 223px;
    max-width: 223px;
    overflow: hidden;
    /* margin: auto; */
}

.depHead{
    font-weight: 700!important;
    line-height: 15px!important;
    margin: 0px 0px 10px 0px;
}

.depLine{
    margin: 0px 0px 4px 0px;
}

.depLine:hover{
    color:#FF9900;
    cursor: pointer;
}

.s-back-arrow {
    width: 6px;
    height: 10px;
    background-repeat: no-repeat;
    font-weight: 100;
    cursor: pointer;
}

.aok-inline-block {
    display: inline-block;
}

.a-size-base {
    font-size: 13px!important;
    line-height: 19px!important;
    cursor: pointer;
}

.a-color-base {
    color: #111!important;
}

.container{
    padding: 14px 0px;
    margin-left:12px;
}

.imgContainer{
    height: 285px;
    width: 285px;
}

.productTitle{
    font-size: 15px;
    font-weight: 400!important;
    max-height: 62px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.sellerProductTitle{
    font-size: 25px;
    font-weight: 400!important;
}

.productTitle:hover{
    color:#FF9900
}

.price{
    font-size: 21px;
    font-weight: 400!important;
}

.description{
    overflow: hidden;
    text-overflow: ellipsis;
}
.priceSymbol{
    font-size: 12px;
    position: relative;
    top: -6px;
    color:#555;
}

.desc{
    color:#555;
}

.oldprice{
    text-decoration: line-through;
}

.rating{
    position: relative;
    top:-5px
}

.etaDate{
    font-weight: 700!important;
    color:#555!important;
}

/* .starRating:hover{

} */
.small-space{
    margin-bottom: 10px;
  }

.popoverDisplay{
    display:block;
    /* box-shadow: solid 1px grey; */
    position: absolute;
    background-color: white;
    -webkit-box-shadow: 5px 5px 21px 0px rgba(0,0,0,0.45);
    -moz-box-shadow: 5px 5px 21px 0px rgba(0,0,0,0.45);
    box-shadow: 5px 5px 21px 0px rgba(0,0,0,0.45);
    border-radius: 5px;
    height: 40px;
    padding: 10px;
    z-index: 1000;
}

.ratingNote{
    position: relative;
    top:-5px;
    left:2px;
}

.popoverNone{
    display:none;
}

.grid{
    height: 26px;
    margin-bottom: 4px!important;
    border-top: Solid 1px #ccc;
}

.productimg{
    min-width: 328px;
    max-width: 328px;
    overflow: hidden;
    margin: auto;
}
.productImgBorder{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-height: 328px;
}

.resultsContainer{
    margin:10px 0px;
    padding:0px 12px;
}

.sortContainer{
    height : 42px;
    padding : 0px 12px;
    border-bottom: Solid 1px #ccc;
    border-top: Solid 1px #ccc;
}

.dropdownConatiner{
    float: right;
    margin:10px 0px;
    padding:0px 12px;
}

.searchText{
    color: #c45500;
    font-weight: 700;
}

.dropButton{
    background-color: #e7e9ec;
    height: 22px;
    width: 118px;
    /* padding-top: 2px ; */
    padding: 0px 2px 0px 0px;
    border: solid 1px;
    border-width: 1px;
    border-color: #ADB1B8 #A2A6AC #8D9096;
}

.dropButton:hover{
    box-shadow: orange;
}

.dropLabel{
    float:left;
}

.arrowIcon{
    height:16px;
    float:right;
}

.customMenu{
    min-width: 110x;
}

.dropItem{
    color:#111111
}

