
.productContainer{
    font-size: 13px;
    color: #111111;
}

.product{
    /* padding */
}

.img{
    display: block;
    position: relative;
    max-height: 285px;
    max-width: 285px;
    overflow: hidden;
    margin: auto;
}

.imgContainer{
    height: 285px;
    width: 285px;
    padding-top: 20px;
}

.productTitle{
    font-size: 15px;
    font-weight: 400!important;
}

.productTitle:hover{
    color:#FF9900
}

.price{
    font-size: 21px;
    font-weight: 400!important;
}

.priceSymbol{
    font-size: 12px;
    position: relative;
    top: -6px;
}

.oldprice{
    text-decoration: line-through;
}

.grid{
    height: 26px;
    margin-bottom: 4px!important;
    border-top: Solid 1px #ccc;
}

.resultsContainer{
    margin:10px 0px;
    padding:0px 12px;
}

.sortContainer{
    height : 42px;
    padding : 0px 12px;
    border-bottom: Solid 1px #ccc;
    border-top: Solid 1px #ccc;
}

.dropdownConatiner{
    float: right;
    margin:10px 0px;
    padding:0px 12px;
}

.searchText{
    color: #c45500;
    font-weight: 700;
}

.dropButton{
    background-color: #e7e9ec;
    height: 22px;
    width: 118px;
    /* padding-top: 2px ; */
    padding: 0px 2px 0px 0px;
    border: solid 1px;
    border-width: 1px;
    border-color: #ADB1B8 #A2A6AC #8D9096;
}

.dropButton:hover{
    box-shadow: orange;
}

.dropLabel{
    float:left;
}

.arrowIcon{
    height:16px;
    float:right;
}

.customMenu{
    min-width: 110x;
}

.dropItem{
    color:#111111
}


/*---------------------- ratings -------------------------------*/



/* .stars-outer {
    position: relative;
    display: inline-block;
  }
  
  .stars-inner {
    position: absolute;
    top: 0;
    left: 0;
    white-space: nowrap;
    overflow: hidden;
    width: 50%;
  }
  
  .stars-outer::before {
    content: "\f005 \f005 \f005 \f005 \f005";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: #ccc;
  }
  
  .stars-inner::before {
    content: "\f005 \f005 \f005 \f005 \f005";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: #f8ce0b;
  } */

