* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Amazon Ember", Arial, sans-serif;
  }
  .outer2container{
    position: fixed;
    bottom: 70px;
    right: 50px;
    top: 70px;
    left: 550px;

  }
  .outer1container {
    border-style: solid;
    border: 1px solid rgb(187, 187, 187);
    border-radius: 4px;
    width: 335px;
    height: 400px;
  
    
    bottom: 70px;
    right: 50px;
    top: 70px;
    left: 550px;
  }
  
  .loginform {
    width: 310px;
    height: 200px;
    border-radius: 4px;
  
    font-size: 13px;

    bottom: 70px;
    right: 50px;
    top: 70px;
    left: 560px;
  
    background-color: transparent;
  }
  .form_label {
    display: block;
    padding-left: 2px;
    padding-bottom: 2px;
    font-weight: 700;
    font-size: 13px;
  }
  .ama-icon{
      /* position: relative; */
     width: "10";
     height: "10";
      margin: "15s";
       border: "0.5px solid";
  
  }
  .login-button {
    background: #f7d171;
    border-color: #a88734 #9c7e31 #846a29;
    border-top-color: rgb(168, 135, 52);
    border-right-color: rgb(156, 126, 49);
    border-bottom-color: rgb(132, 106, 41);
    border-left-color: rgb(156, 126, 49);
    position: absolute;
    font-size: 100%;
    width: 310px;
    height: 30px;
    outline-color: initial;
    outline-style: initial;
    outline-width: 0px;
    overflow: visible;
    z-index: 20;
  }
  .a-size-small {
    font-size: 12px !important;
    line-height: 1.5 !important;
  }
  .alert-content {
    padding-top: 5px;
    margin-bottom: 0;
    text-align: left;
    font-size: 12px;
    line-height: 15px;
  }
  h1 {
    font-weight: 400;
    font-size: 28px;
    line-height: 1.2;
    font-family: Arial, sans-serif;
    text-rendering: optimizeLegibility;
    padding-bottom: 4px;
    font-family: "Amazon Ember", Arial, sans-serif;
  }
  
  
  
  