/* .MuiDialog-paperWidthSm  {
    min-width: 700px;
} */

.imageSIze {
    width: 90px !important;
    height: 90px !important;
}

.addProductDialog .MuiDialog-paperWidthSm {
    min-width: 700px;
}

.addNewCategoryDialog .MuiDialog-paperWidthSm {
    min-width: 500px;
}